<!-- app/views/layouts/_header.html.erb -->

<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Фільми', movies_path %></li>
    </ul>
  </nav>
</header>
